.banner {
  background-image: url("../imagenes/BannerLanas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 20px;
  text-align: center;
}
.banner-content {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
}
h1,
p {
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}
.banner-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 500px; /* Limita el ancho máximo en pantallas grandes */
}
@media (max-width: 600px) {
  .banner-content img {
    max-width: 95vw;
    max-width: 320px;
  }
}
