h3 {
  color: black;
}
.texto {
  color: black;
}
.goku {
  width: 300px;
  height: 300px;
}
.carrusel-img {
  object-fit: cover;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}
.carrusel {
  background: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
}
